/* nav side desine */
.nav-header{
    display: flex;
    justify-content: space-between;
}
.ul1{
    display: flex;
    margin-right: 20px;
}
li{
    margin-right: 20px;

}

li a{
        color: #3A3A3A;
}
/* nav section endding */

/* heroside desine   starting*/
.hero-image{
background-image:url(./images/Circle\ design.svg) ;
background-repeat: no-repeat;
width: 475px;
/* height: 475px; */

}
.hero{
    display: flex;
    justify-content: space-around;
  
}
.title-text{
    font-weight: bold;
    font-size: 4rem;
      color: #3A3A3A;    
      margin-bottom: 2px;
}
.hero-description{
    width: 582px;
    height: 270px;/
    
}
.text-p{
    font-weight: 800;
    font-size: 1rem;
    margin-top: 16px;
}
.btn1{
    display: flex;
    background-color:#E02C6D ;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    width: 196px;
    /* height: 44px; */
    align-items: center;
    justify-content: center;
}
/* heroside desine ending*/

/* sponsor section start her  */
.sponser-container{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    gap: 61px;
}
.sponsers{
    width: 1110px;
    /* height: 110px; */
   margin: 0 auto;
}
/* sponsor section ends here  */


/* popular collection start here  */

.card{
    width: 329px;
    /* height: 490px; */
     box-shadow:0 5px 15px 0 ;
     border-radius: 15px;
     /* margin-left: 20px; */
}
.card-heading{
    width: 196px;
margin-left: 20px;
}
.card-heading p{
    color: #787885;
   
}
.card-img{
    margin: 20px auto;
    margin-left: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    gap: 30px;
    /* padding: ; */
    /* box-shadow:0 5px 15px 0 ; */
}
.popular-container{
    padding:100px 0;
    /* text-align: center; */
    margin: 0 auto;
    width: 1047px;
    /* height: 1662px; */
}
/* popular section ends here  */


/* feture products starts here  */


